@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffbfb;
  color: #1e1b18;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overflow-x: hidden;
}